<div class='row' data-bind="foreach: widgets">
	<widget-decorator params="
		'id': $data.id,
		'width': $data.width,
		'height': $data.height,
		'background': $data.background,
		'borderWidth' : $data.borderWidth,
		'borderColor': $data.borderColor,
		'borderRadius': $data.borderRadius">
		<!-- ko if: $parent.widget === 'chart-widget' -->
        <chart-widget params="tickets: $parents[1].tickets"/>
    	<!-- /ko -->
		<!-- ko if: $parent.widget === 'list-widget' -->
        <list-widget params="tickets: $parents[1].tickets"/>
    	<!-- /ko -->
		<!-- ko if: $parent.widget === 'pie-widget' -->
        <pie-widget params="tickets: $parents[1].tickets"/>
    	<!-- /ko -->
	</widget-decorator>
</div>
