<div class="modal fade" tabindex="-1" role="dialog"  id="myModal" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
		  <div class="form-horizontal" id="task-form">
  			<div class="form-group"  data-bind="css: {'has-error has-danger': submited() && !model.title.isValid()}">
  				<label for="name" class="col-sm-2 control-label">Title</label>
  				<div class="col-sm-10">
  					<input type="text" name="name" class="form-control" placeholder="Title" data-bind="value: model.title"/>
					<div class="help-block with-errors" data-bind="if: submited() && !model.title.isValid()">
						<ul class="list-unstyled" data-bind="foreach: model.title.errors">
							<li data-bind="text: $data"></li>
						</ul>
					</div>
  				</div>
  			</div>

  			<div class="form-group"   data-bind="css: {'has-error has-danger': submited() && !model.dueDate.isValid()}">
  				<label for="description" class="col-sm-2 control-label">Due date</label>
  				<div class="col-sm-10">
  					<input type="text" name="description" class="form-control datepicker" placeholder="Due date" data-bind="datepicker: model.dueDate" />
  					<date-input params='value: model.dueDate' date=""></date-input>
					<div class="help-block with-errors" data-bind="if: submited() && !model.dueDate.isValid()">
						<ul class="list-unstyled" data-bind="foreach: model.dueDate.errors">
							<li data-bind="text: $data"></li>
						</ul>
					</div>
  				</div>
  			</div>

  			<div class="form-group">
  				<label for="description" class="col-sm-2 control-label">Status</label>
  				<div class="col-sm-10">
  					<select class="form-control" data-bind="value: model.status">
  						<option value="open">Open</option>
  						<option value="inProgress">In Progress</option>
  						<option value="closed">Closed</option>
  					</select>
  				</div>
  			</div>
  		</div>
      </div>
      <div class="modal-footer">
		<button data-bind="click: submit" class="btn btn-default" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
