<form data-bind="submit: submit" id="widget-form">
	<div class="form-group"  data-bind="css: {'has-error has-danger': submited() && model.widget.isValid()">
		<label>Widget</label>
		<select class="form-control" data-bind="value: model.widget" title="Widget">
			<option value="" disabled selected hidden>Widget</option>
			<option value="list-widget">List</option>
			<option value="chart-widget">Bar Chart</option>
			<option value="pie-widget">Pie Chart</option>
		</select>
	</div>

	<div class="form-group" data-bind="css: {'has-error has-danger': submited() && !model.width.isValid()}">
		<label>Width</label>
		<input type="text" name="width" class="form-control slider" placeholder="Width" data-bind="sliderValue: model.width" title="Width"
			data-slider-min="100" data-slider-max="400" />
		<div class="help-block with-errors" data-bind="if: submited() && !model.width.isValid()">
			<ul class="list-unstyled" data-bind="foreach: model.width.errors">
				<li data-bind="text: $data"></li>
			</ul>
		</div>
	</div>

	<div class="form-group" data-bind="css: {'has-error has-danger': submited() && !model.height.isValid()}">
		<label>Height</label>
		<input type="text" name="height" class="form-control  slider" placeholder="Height" data-bind="sliderValue: model.height"  title="Height"
			data-slider-min="100" data-slider-max="400" />
		<div class="help-block with-errors" data-bind="if: submited() && !model.height.isValid()">
			<ul class="list-unstyled" data-bind="foreach: model.height.errors">
				<li data-bind="text: $data"></li>
			</ul>
		</div>
	</div>

	<div class="form-group"  data-bind="css: {'has-error has-danger': submited() && !model.background.isValid()}">
		<label>Background</label>
		<input type="text" name="background" class="form-control colorpicker" placeholder="Background" data-bind="colorValue: model.background" title="Background"/>
		<div class="help-block with-errors" data-bind="if: submited() && !model.background.isValid()">
			<ul class="list-unstyled" data-bind="foreach: model.background.errors">
				<li data-bind="text: $data"></li>
			</ul>
		</div>
	</div>

	<div class="form-group"  data-bind="css: {'has-error has-danger': submited() && !model.borderWidth.isValid()}">
		<label>Border Width</label>
		<input type="text" name="borderWidth" class="form-control slider" placeholder="Border Width"  data-bind="sliderValue: model.borderWidth" title="Border Width"
			data-slider-min="0" data-slider-max="5"/>
		<div class="help-block with-errors" data-bind="if: submited() && !model.borderWidth.isValid()">
			<ul class="list-unstyled" data-bind="foreach: model.borderWidth.errors">
				<li data-bind="text: $data"></li>
			</ul>
		</div>
	</div>

	<div class="form-group"  data-bind="css: {'has-error has-danger': submited() && !model.borderColor.isValid()}">
		<label>Border Color</label>
		<input type="text" name="borderColor" class="form-control colorpicker" placeholder="Border Color" data-bind="colorValue: model.borderColor"  title="Border Color" />
		<div class="help-block with-errors" data-bind="if: submited() && !model.borderColor.isValid()">
			<ul class="list-unstyled" data-bind="foreach: model.borderColor.errors">
				<li data-bind="text: $data"></li>
			</ul>
		</div>
	</div>

	<div class="form-group"  data-bind="css: {'has-error has-danger': submited() && !model.borderColor.isValid()}">
		<label>Border Radius</label>
		<input type="text" name="borderRadius" class="form-control slider" placeholder="Border Radius"  data-bind="sliderValue: model.borderRadius" title="Border Radius"
			data-slider-min="0" data-slider-max="50" />
		<div class="help-block with-errors" data-bind="if: submited() && !model.borderColor.isValid()">
			<ul class="list-unstyled" data-bind="foreach: model.borderColor.errors">
				<li data-bind="text: $data"></li>
			</ul>
		</div>
	</div>

	<button type="submit" class="btn btn-default">Add widget</button>
</form>
