.example-enter {
  	-webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    margin-left: 30px;
    margin-right: -30px;
    opacity: 0;
}

.example-enter.example-enter-active {
	margin-left: 0px;
    margin-right: 0px;
    opacity: 1;
}

.example-leave {
  	opacity: 1;
}

.example-leave.example-leave-active {
  	opacity: 0;
}