body{
	padding-top: 70px;
}

#page-load-spinner{
    width: 100px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.widget{
	canvas{
		width: 100%;
		height: 100%;
	}
}

.widget-decorator{
	float: left;
	padding: 5px;

}

.widget-decorator-content{

	.btn-remove{
		position: absolute;
		top: 5px;
		right: 5px;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.5s linear;

	}

	&:hover .btn-remove{
		visibility: visible;
  		opacity: 1;
	}

	width: 100%;
	height: 100%;
	border-style: solid;
	position: relative;
}

.ticket-select{
	width: 100px;
	display: inline-block;
	height: 22px;
	font-size: 12px;
	padding: 0;
}

.slider{
	width: 100% !important;
}

.navbar-right{
	margin: 15px;
	margin-right: -15px;
}
