<div class="widget-decorator" data-bind="style: {
	'width': width + 'px',
	'height': height + 'px'
}">
	<div class="widget-decorator-content" data-bind="style: {
		'background': background,
		'border-width' : borderWidth + 'px',
		'border-color': borderColor,
		'border-radius': borderRadius + 'px'
	}">
	<!-- ko template: { nodes: $componentTemplateNodes} --><!-- /ko -->
	<button class="btn btn-sm btn-danger btn-remove" data-bind="click: remove.bind($data)">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	</button>
	</div>
</div>
