<nav-bar></nav-bar>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Add new widget</h3>
			 	</div>
				<div class="panel-body">
					<widget-form />
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Dashboard</h3>
			 	</div>
				<div class="panel-body">
					<dashboard />
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading  clearfix">
					<h3 class="panel-title pull-left"  style="padding-top: 7.5px;">Tickets</h3>
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
  							Add ticket
						</button>
				      </div>
				</div>
				<div class="panel-body">
					<tickets />
				</div>
			</div>
		</div>
	</div>
</div>

<ticket-modal-form/>
