<div>
	<ul class="list-group"  data-bind="foreach: tickets">
		<li href="#" class="list-group-item clearfix">
			<span class="glyphicon glyphicon-file"></span>
			<span data-bind="text: title"></span>
			<span class="pull-right">

				<select class="form-control ticket-select" data-bind="value: status, event: { change: $parent.statusChanged.bind($parent, $data) }, foreach: $parent.settings.ticketStatuses">
					<option data-bind="attr: {value: $data}, text: $parents[1].settings.ticketStatusLabels[$data]" value="open">Open</option>
				</select>
				<button class="btn btn-xs btn-warning" data-bind="click: $parent.remove.bind($parent, $data)">
					<span class="glyphicon glyphicon-trash"></span> Remove
				</button>
			</span>
    	</li>
	</ul>
</div>
