<div class="widget">
	<ul class="list-group" data-bind="foreach: statuses">
		<li class="list-group-item">
			<span  data-bind="text: label"></span>
			<span class="badge" data-bind="text: value"></span>	
	 	</li>
	</ul>
</div>
