<nav class="navbar navbar-default navbar-fixed-top" >
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Task Tracking System</a>
		</div>
		<ul class="navbar-form nav navbar-nav navbar-right">
			<li>
				<span>Demo:</span>
				<div class="btn-group btn-toggle">
					<button class="btn btn-xs" data-bind="click: setLocalContext, css: api_context() === 'local' ? 'active btn-primary' : 'btn-default'">ON</button>
					<button class="btn btn-xs" data-bind="click: setServerContext, css: api_context() !== 'local' ? 'active btn-primary' : 'btn-default'">OFF</button>
				</div>
			</li>
		</ul>
	</div>
</nav>
